<div class="row">
  <div class="col s12">
    <div class="trending-kavas-wrap">
      <h3 class="header">Trending Kavas</h3>
      <div class="trending-kavas">

        {{#each kavas}}
          {{#if isTrending}}
            <div class="card horizontal brown lighten-3 hoverable">
              <div class="card-image"><img src="https://lorempixel.com/120/120" alt=""></div>
              <div class="card-stacked">
                <div class="card-content">
                  <span class="card-title">{{name}}</span>
                  <p>{{country}}</p>
                </div>
                <div class="card-action">
                  <a data-kava="{{id}}" class="black-text">More Info</a>
                </div>
              </div>
            </div>
          {{/if}}
        {{/each}}

        <a class="view-all-kavas btn orange accent-2 right">View All Kava <i class="material-icons right">chevron_right</i></a>
      </div>
    </div>
    <div class="all-kavas-wrap hide">
      <h3 class="header">All Kavas</h3>
      <div class="all-kavas">

        {{#each kavas}}
          <div class="card horizontal brown lighten-3 hoverable">
            <div class="card-image"><img src="https://lorempixel.com/120/120" alt=""></div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">{{name}}</span>
                <p>{{country}}</p>
              </div>
              <div class="card-action">
                <a data-kava="{{id}}" class="black-text">More Info</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <a class="view-trending-kavas btn orange accent-2 right">View Trending Kava <i class="material-icons right">chevron_right</i></a>
    </div>
  </div>
</div>



<div id="kavaModal" class="modal">
  <div class="modal-content">
  </div>    
  <div class="modal-footer">
    <button class="btn modal-close red">Close<i class="material-icons right">close</i></button>
  </div>
</div>

{{!-- <div class="row">
  <div class="col s12 center-align">
    <!--Make sure the form has the autocomplete function switched off:-->
    <form autocomplete="off" action="/kava">
      <div class="autocomplete" style="width:300px;">
        <input id="myInput" type="text" name="kava" placeholder="Kava">
        <input id="idInput" type="hidden" name="id">
      </div>
      <input type="submit">
    </form>
  </div>
</div> --}}